<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">RSSFeedMe</a>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <li>
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><%= user.username %></a>
        <ul class="dropdown-menu">
          <li>
            <button type="button" class="dropdown-button" data-toggle="modal" data-target="#profileModal">Profile</button>
          </li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </li>
    </ul>
  </div>

</nav>

<div id="profileModal" class="modal fade" role="dialog">
  <div class="modal-dialog custom-modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit Profile</h4>
      </div>
      <div class="modal-body">
        <form method="post" action="/edit-profile">
          <div class="profile">
            <% if (successMessage.length > 0) { %>
              <div class="alert alert-success alert-dismissible">
                <button type="button" class="close" style="width: 21px;" data-dismiss="alert" aria-label="close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <%= successMessage %>
              </div>
            <% } %>
            <img class="img-circle img-responsive img-center" src="<%= user.avatar_url || '/images/default_profile_picture.png' %>">
            <h1><%= user.username %></h1>
            <div class="info">
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" name="name" id="name" value="<%= user.name %>">
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" name="email" id="email" value="<%= user.email %>">
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn success">Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>

  </div>
</div>

<% if (successMessage.length > 0) { %>
  <script type="text/javascript">
    $('#profileModal').modal('show');
  </script>
<% } %>
