<% layout('homepage_layout') -%>

<h1>
  <%= collection.title %>

  <button type="button" class="collection-delete-btn" data-toggle="modal" data-target="#deleteCollectionModal" data-collectionid="<%= collection._id %>" data-collectiontitle="<%= collection.title %>">
    <img src="/images/trash_icon.png"/>
  </button>
</h1>

<% if (articles.length === 0) { %>
  <p>Click '+ ADD FEED' in the sidebar to add a feed to this collection!</p>
<% } else { %>
  <ul class="articles">
    <% articles.forEach((article) => { %>
      <li>
        <div class="article">
          <a href="<%= article.link %>">
            <img src="<%= article.image_url %>"/>
            <div class="article-info">
              <span class="article-title"><%= article.title %></span>
              <div class="article-creator-and-pub-date">
                <% if (article.creator) { %>
                  <span class="article-creator"><%= article.creator %></span>
                <% } %>

                <% if (article.pub_date) { %>
                  <span class="article-pub-date"><%= article.pub_date %></span>
                <% } %>
              </div>
              <div class="article-description">
                <p><%- article.description %></p>
              </div>
            </div>
          </a>
        </div>
        <% if (bookmarkTitles.includes(article.title)) { %>
          <div class="bookmarked-icon">
            <img src="/images/bookmarked_icon.png"/>
          </div>
        <% } else { %>
          <form method="post" action="/bookmark">
            <input type="hidden" name="link" value="<%= article.link %>"/>
            <input type="hidden" name="image_url" value="<%= article.image_url %>"/>
            <input type="hidden" name="title" value="<%= article.title %>"/>

            <% if (article.creator) { %>
              <input type="hidden" name="creator" value="<%= article.creator %>"/>
            <% } %>

            <% if (article.pub_date) { %>
              <input type="hidden" name="pub_date" value="<%= article.pub_date %>"/>
            <% } %>

            <input type="hidden" name="description" value="<%= article.description %>"/>

            <input class="bookmark-btn" type="image" name="submit" src="/images/add_bookmark_icon.png" border="0" alt="Submit" />
          </form>
        <% } %>
      </li>
    <% }); %>
  </ul>
<% } %>

<div id="deleteCollectionModal" class="modal fade" role="dialog">
  <div class="modal-dialog custom-modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Delete Collection</h4>
      </div>
      <form method="post" action="/delete-collection">
        <div class="modal-body">
          <input type="hidden" name="collectionId" id="collectionId" value=""/>

          <p>
            You are about to delete the following collection:
            <input type="text" name="collectionTitle" id="collectionTitle" value="" readonly/>
          </p>

          <i>Note: Once a collection is deleted, its data cannot be restored even if the collection is recreated.</i>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success">Confirm</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </form>
    </div>

  </div>
</div>
