<% layout('homepage_layout') -%>

<h1><%= feed.title %></h1>

<ul class="articles">
  <% articles.forEach((article) => { %>
    <li>
      <div class="article">
        <% if (typeof article.link === "string") { %>
          <a href="<%= article.link %>">
        <% } else { %>
          <a href="<%= article.link[0] %>">
        <% } %>
          <% if (article.content) { %>
            <img src="<%= article.content.url || article.content[0].url %>"/>
          <% } else { %>
            <img src="/images/article_icon.jpg"/>
          <% } %>
          <div class="article-info">
            <span class="article-title"><%= article.title %></span>
            <div class="article-creator-and-pub-date">
              <% if (article.creator) { %>
                <span class="article-creator"><%- article.creator %></span>
              <% } %>

              <% if (article.pubDate) { %>
                <span class="article-pub-date"><%= article.pubDate %></span>
              <% } %>
            </div>
            <div class="article-description">
              <% if (article.description === null) { %>
                <p>Click to learn more!</p>
              <% } else if (typeof article.description === "string") { %>
                <p><%- article.description %></p>
              <% } else { %>
                <p><%- article.description[1] %></p>
              <% } %>
            </div>
          </div>
        </a>
      </div>
      <% if (bookmarkTitles.includes(article.title)) { %>
        <div class="bookmarked-icon">
          <img src="/images/bookmarked_icon.png"/>
        </div>
      <% } else { %>
        <form method="post" action="/bookmark">
          <% if (typeof article.link === "string") { %>
            <input type="hidden" name="link" value="<%= article.link %>"/>
          <% } else { %>
            <input type="hidden" name="link" value="<%= article.link[0] %>"/>
          <% } %>

          <% if (article.content) { %>
            <input type="hidden" name="image_url" value="<%= article.content.url || article.content[0].url %>"/>
          <% } else { %>
            <input type="hidden" name="image_url" value="/images/article_icon.jpg"/>
          <% } %>

          <input type="hidden" name="title" value="<%= article.title %>"/>

          <% if (article.creator) { %>
            <input type="hidden" name="creator" value="<%= article.creator %>"/>
          <% } %>

          <% if (article.pubDate) { %>
            <input type="hidden" name="pub_date" value="<%= article.pubDate %>"/>
          <% } %>

          <% if (article.description === null) { %>
            <input type="hidden" name="description" value="Click to learn more!"/>
          <% } else if (typeof article.description === "string") { %>
            <input type="hidden" name="description" value="<%= article.description %>"/>
          <% } else { %>
            <input type="hidden" name="description" value="<%= article.description[1] %>"/>
          <% } %>

          <input class="bookmark-btn" type="image" name="submit" src="/images/add_bookmark_icon.png" border="0" alt="Submit" />
        </form>
      <% } %>
    </li>
  <% }); %>
</ul>
