<% layout('homepage_layout') -%>

<h1><%= feed.title %></h1>

<ul class="articles">
  <% articles.forEach((article) => { %>
    <li>
      <a class="clearfix" href="<%= article.guid.content %>">
        <% if (article.content) { %>
          <img src="<%= article.content.url %>"/>
        <% } else { %>
          <img src="/images/article_icon.jpg"/>
        <% } %>
        <div class="article-info">
          <span class="article-title"><%= article.title %></span>
          <div class="article-creator-and-pub-date">
            <% if (article.creator) { %>
              <span class="article-creator"><%= article.creator %></span>
            <% } %>
            <span class="article-pub-date"><%= article.pubDate %></span>
          </div>
          <% if (typeof article.description === "string") { %>
            <p><%= article.description %></p>
          <% } else { %>
            <p><%= article.description[1] %></p>
          <% } %>
        </div>
      </a>
      <form method="post" action="/bookmark">
        <input type="hidden" name="link" value="<%= article.guid.content %>"/>

        <% if (article.content) { %>
          <input type="hidden" name="image_url" value="<%= article.content.url %>"/>
        <% } else { %>
          <input type="hidden" name="image_url" value="/images/article_icon.jpg"/>
        <% } %>

        <input type="hidden" name="title" value="<%= article.title %>"/>

        <% if (article.creator) { %>
          <input type="hidden" name="creator" value="<%= article.creator %>"/>
        <% } %>

        <input type="hidden" name="pub_date" value="<%= article.pubDate %>"/>

        <% if (typeof article.description === "string") { %>
          <input type="hidden" name="description" value="<%= article.description %>"/>
        <% } else { %>
          <input type="hidden" name="description" value="<%= article.description[1] %>"/>
        <% } %>

        <input type="image" name="submit" src="/images/add_bookmark_icon.png" border="0" alt="Submit" />
      </form>
    </li>
  <% }); %>
</ul>
