<% layout('homepage_layout') -%>

<h1><%= feed.title %></h1>

<ul class="articles">
  <% articles.forEach((article) => { %>
    <li>
      <a class="clearfix" href="<%= article.guid.content %>">
        <% if (article.content) { %>
          <img src="<%= article.content.url %>"/>
        <% } else { %>
          <img src="/images/article_icon.jpg"/>
        <% } %>
        <div class="article-info">
          <span class="article-title"><%= article.title %></span>
          <div class="article-creator-and-pub-date">
            <% if (article.creator) { %>
              <span class="article-creator"><%= article.creator %></span>
            <% } %>
            <span class="article-pub-date"><%= article.pubDate %></span>
          </div>
          <% if (typeof article.description === "string") { %>
            <p><%= article.description %></p>
          <% } else { %>
            <p><%= article.description[1] %></p>
          <% } %>
        </div>
      </a>
    </li>
  <% }); %>
</ul>
