<% layout('homepage_layout') -%>

<h1>Today</h1>

<ul class="articles">
  <% articles.forEach((article) => { %>
    <li>
      <div class="article">
        <a href="<%= article.link %>">
          <img src="<%= article.image_url %>"/>
          <div class="article-info">
            <span class="article-title"><%= article.title %></span>
            <div class="article-creator-and-pub-date">
              <% if (article.creator) { %>
                <span class="article-creator"><%= article.creator %></span>
              <% } %>

              <% if (article.pub_date) { %>
                <span class="article-pub-date"><%= article.pub_date %></span>
              <% } %>
            </div>
            <div class="article-description">
              <p><%- article.description %></p>
            </div>
          </div>
        </a>
      </div>
      <% if (bookmarkTitles.includes(article.title)) { %>
        <div class="bookmarked-icon">
          <img src="/images/bookmarked_icon.png"/>
        </div>
      <% } else { %>
        <form method="post" action="/bookmark">
          <input type="hidden" name="link" value="<%= article.link %>"/>
          <input type="hidden" name="image_url" value="<%= article.image_url %>"/>
          <input type="hidden" name="title" value="<%= article.title %>"/>

          <% if (article.creator) { %>
            <input type="hidden" name="creator" value="<%= article.creator %>"/>
          <% } %>

          <% if (article.pub_date) { %>
            <input type="hidden" name="pub_date" value="<%= article.pub_date %>"/>
          <% } %>

          <input type="hidden" name="description" value="<%= article.description %>"/>

          <input class="bookmark-btn" type="image" name="submit" src="/images/add_bookmark_icon.png" border="0" alt="Submit" />
        </form>
      <% } %>
    </li>
  <% }); %>
</ul>
